.Navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(199, 199, 199);
}

.Navbar .logout-btn {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
}

.logout-btn:hover {
    color: rgb(199, 199, 199);
}